numpy==1.19.5
pandas==1.1.5
scikit-learn==1.0.2
scipy==1.4.1
torch==1.10.0
torchmetrics==0.6.2
tqdm==4.62.3
transformers==4.15.0
wandb==0.12.9
pytorch-lightning==1.5.9
python-box==5.4.1
nltk==3.6.7
spacy==3.2.1
